body {
  background-image: url("matrix-2354492.jpg");
  background-size: cover;
  color: lime;
  font-family: monospace;
  font-size: 1.8em;
  margin: 10px;
  text-align: center;
}

#container {
  background-color: black;
  opacity: 80%;
  max-width: 80%;
  min-width: 630px;
  margin: 15px auto 15px auto;
  /* text-align: center; */
  border-style: dashed;
  border-width: 5px;
  border-color: lime;
}


.panel {
  max-width: 80%;
  margin: 20px auto;
  /* text-align: center; */
  padding: 10px;
  /* border-style: dashed;
  border-width: 3px;
  border-color: lime; */
}

button {
  background-color: black;
  height: 2.2em;
  color: lime;
  font-family: monospace;
  border-style: dashed;
  border-width: 0.5px;
  border-color: lime;
  font-size: 1em;
  width: 40%;
  padding-bottom: 6px;
}

input {
  background-color: black;
  border-style: dashed;
  border-width: 0.5px;
  border-color: lime;
  color: lime;
  font-size: 2em;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-family: monospace;
}

input::placeholder {
  color: lime;
}

#textOutput {
  background-color: lime;
  color: black;
  opacity: 100%;
}
